{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<br><br>
    <section class="container section-title">
        <div class="container" >
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum massa, vehicula et congue ut, semper vel augue. Suspendisse auctor elementum tempus. Fusce in tellus vel arcu porttitor consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Sed condimentum vitae est ut finibus. Cras venenatis sem turpis, nec tempor magna pellentesque ac. Suspendisse dapibus mattis quam quis dignissim. Proin erat magna, accumsan ut eros vel, accumsan scelerisque magna. Aliquam porttitor felis in nulla consequat consectetur. Proin sapien ipsum, aliquet sit amet lectus ut, commodo commodo odio.
            </p>
            <p>
                Nullam eget tellus malesuada, tincidunt nunc vitae, consequat nunc. Aenean dictum pharetra augue. Praesent a tempus nisl. Nullam egestas ligula nec dolor consectetur fringilla. Fusce laoreet arcu metus, vitae fringilla nulla ultrices vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Phasellus lacinia, nulla a fringilla auctor, ipsum diam viverra ex, vitae commodo justo dolor et leo.
            </p>
        </div>    
    </section>
    <!-- Recipes section -->
    <section class="recipes-section spad pt-0">
        <div class="container">
            <div class="section-title">
                <h2>Latest recipes</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="recipe">
                        <img src="img/recipes/1.jpg" alt="">
                        <div class="recipe-info-warp">
                            <div class="recipe-info">
                                <h3>Traditional Pizza</h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Recipes section end -->
{% endblock %}
