{% extends 'base.html.twig' %}

{% block title %}Édition Produit{% endblock %}

{% block body %}
<div class="container">
    <h1>Édition Produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>

    <a href="{{ path('produit_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
    <br><br><br>

    {{ include('produit/_delete_form.html.twig') }}
</div>
{% endblock %}
