{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<section class="container">
    <h2>ERROR 403 ACCÈS INTERDIT</h2>
</section>

{% endblock %}
{% block review %}
{% endblock %}
