{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}
{% block slide %}{% endblock %}
{% block body %}
<div class="container my-5">
    <h1 class="display-4">Modifier mes informations</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
    <a href="{{ path('user_show' , {'id' : user.id }) }}"><i class="fas fa-arrow-left"></i> Retour</a>

    <br><br>
    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
