{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block slide %}{% endblock %}
{% block body %}
<div class="container my-5">
    <h1 class="display-4">Inscription</h1>
 
    {{ include('user/_form.html.twig') }}
    <br>
    <a href="{{ path('home') }}"><i class="fas fa-arrow-left"></i> Retour</a>
</div>
{% endblock %}
